
* {
    font-family: 'Fraunces', serif;
    color: #fff;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    background-color: #232323;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.ordem {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    background-color: #232323;
    border-radius: 10px;
}

/* Ajuste na ordem dos números no teclado */
button:nth-child(1) { grid-area: 1 / 1 / span 1 / span 1; }
button:nth-child(2) { grid-area: 1 / 2 / span 1 / span 1; }
button:nth-child(3) { grid-area: 1 / 3 / span 1 / span 1; }
button:nth-child(4) { grid-area: 1 / 4 / span 1 / span 1; }
button:nth-child(5) { grid-area: 2 / 1 / span 1 / span 1; }
button:nth-child(6) { grid-area: 2 / 2 / span 1 / span 1; }
button:nth-child(7) { grid-area: 2 / 3 / span 1 / span 1; }
button:nth-child(8) { grid-area: 2 / 4 / span 1 / span 1; }
button:nth-child(9) { grid-area: 3 / 1 / span 1 / span 1; }
button:nth-child(10) { grid-area: 3 / 2 / span 1 / span 1; }
button:nth-child(11) { grid-area: 3 / 3 / span 1 / span 1; }
button:nth-child(12) { grid-area: 3 / 4 / span 1 / span 1; }
button:nth-child(13) { grid-area: 4 / 1 / span 1 / span 1; }
button:nth-child(14) { grid-area: 4 / 2 / span 1 / span 1; }
button:nth-child(15) { grid-area: 4 / 3 / span 1 / span 1; }
button:nth-child(16) { grid-area: 4 / 4 / span 1 / span 1; }
button:nth-child(17) { grid-area: 5 / 1 / span 1 / span 2; }
button:nth-child(18) { grid-area: 5 / 3 / span 1 / span 1; }
button:nth-child(19) { grid-area: 5 / 4 / span 1 / span 1; }

button {
    cursor: pointer;
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2em;
    border: none;
    background-color: #373737;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

button:active {
    background-color: #292929;
}

button:focus {
    outline: none;
}

.display {
    text-align: right;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #373737;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#valor-actual {
    font-size: 2em;
    text-align: right;
}

#valor-anterior {
    text-align: right;
    font-size: 1.5em;
    opacity: 0.7;
}
